<a href="https://colab.research.google.com/github/Marcosuff/Marcosuff.github.io/blob/master/nbs/download_chembl.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# RUN THIS CELL ONCE TO DOWNLOAD ChEMBL
#!wget -c http://ftp.ebi.ac.uk/pub/databases/chembl/ChEMBLdb/releases/chembl_27/chembl_27_sqlite.tar.gz
#!tar -xvf /content/chembl_27_sqlite.tar.gz

In [ ]:
import sys
import pandas as pd
import numpy as np

from google.colab import drive
from os.path import join
! wget -c https://repo.anaconda.com/archive/Anaconda3-2019.10-Linux-x86_64.sh
! bash Anaconda3-2019.10-Linux-x86_64.sh -bfp /usr/local
sys.path.append('/usr/local/lib/python3.7/site-packages')
!conda install -y -c rdkit rdkit

In [ ]:
ROOT = '/content/drive'     # default for the drive
PROJ = 'My Drive/Blog'      # path to your project on Drive

GIT_USERNAME = "Marcosuff" # replace with yours
GIT_REPOSITORY = "Marcosuff.github.io"      # ...nah
GIT_TOKEN = 'dee4192a28a49b4acc3897425086d65cabe8b47f'

drive.mount(ROOT)           # we mount the drive at /content/drive

PROJECT_PATH = join(ROOT, PROJ)
!mkdir "{PROJECT_PATH}"     # in case we haven't created it already

In [8]:
GIT_PATH = "https://dee4192a28a49b4acc3897425086d65cabe8b47f@github.com/Marcosuff/Marcosuff.github.io.git"
!git clone "{GIT_PATH}"

fatal: destination path 'Marcosuff.github.io' already exists and is not an empty directory.

In [9]:
df = pd.read_csv('/content/Marcosuff.github.io/data/chembl27.csv.gz')

In [12]:
df.head()

   doc_id  standard_value  ...                        l3 confidence_score
0    6570          4000.0  ...                       NaN                8
1    6570         17000.0  ...                       NaN                8
2    6570           180.0  ...                       NaN                8
3    6570          6000.0  ...  Cytochrome P450 family 1                8
4    6570         37000.0  ...  Cytochrome P450 family 3                8

[5 rows x 14 columns]

Everything seems fine with the raw data. The dataframe loaded just fine and the columns are as expected. 

Now we are going to select a subset of it. In this case, just one protein target: coagulation factor Xa

In [13]:
fxa = df[df['target_chembl_id']=='CHEMBL244']
print(fxa.shape)
fxa.head()

(6515, 14)

     doc_id  standard_value  ...               l3 confidence_score
22     3476            44.4  ...  Serine protease                8
273    6512           180.0  ...  Serine protease                8
274    6512           120.0  ...  Serine protease                8
288    3476           311.0  ...  Serine protease                8
291    3476             6.1  ...  Serine protease                8

[5 rows x 14 columns]